.container2{
    display: grid;
    grid-template-columns: auto;
    height: 200px;
    padding: 0px 20px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    height: 800px;
}
.box1{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box2{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box3{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box4{
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box5{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box6{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box7{
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box8{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box9{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}